<div class="page-header">
    <h1>NET Authentication <small>Users Management</small></h1>
    <p>
        This area is used to manage the <strong>User entity</strong>.
    </p>
</div>

<div class="row">
    <!-- USER REGISTRATION -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Details.png" alt="...">
            <div class="caption">
                <h3>User Registration</h3>
                <p>Register a new User</p>
                <p>
                    <a href="@Url.Action("Register", "User")" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>

    <!-- USER SEARCH -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Users.png" alt="...">
            <div class="caption">
                <h3>User Search</h3>
                <p>Search existing Users</p>
                <p>
                    <a href="@Url.Action("Search", "User")" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>
