<div class="page-header">
    <h1>NET Authentication <small>Products Management</small></h1>
    <p>
        This area is used to manage the <strong>Product entity</strong>.
    </p>
</div>

<div class="row">
    <!-- PRODUCTS DISPLAY -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Products.png" alt="...">
            <div class="caption">
                <h3>Products Search</h3>
                <p>Search existing Products and display Details of each one</p>
                <p>
                    <a href="#" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>

    <!-- PRODUCTS MANAGEMENT -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Settings.png" alt="...">
            <div class="caption">
                <h3>Products Management</h3>
                <p>Manage existing Products, requires <strong>Authentication</strong></p>
                <p>
                    <a href="#" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>

    <!-- PRODUCTS MANAGEMENT -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Labels.png" alt="...">
            <div class="caption">
                <h3>Create Products</h3>
                <p>Create a new Product, this is a <strong>Restricted Area</strong></p>
                <p>
                    <a href="#" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>

</div>
