body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    margin-top: 30px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thumbnail > img {
    width: 128px;
    height: 128px;
}

button {
    min-width: 120px;
}

.modal-dialog-center { /* Edited classname 10/03/2014 */
  transform: translate(0, 40%) !important;
  -ms-transform: translate(0, 40%) !important; /* IE 9 */
  -webkit-transform: translate(0, 40%) !important; /* Safari and Chrome */

}