<div class="page-header">
    <h1>NET Authentication <small>Persons Management</small></h1>
    <p>
        This area is used to manage the <strong>Person entity</strong>.
    </p>
</div>

<div class="row">
    <!-- PERSON DISPLAY -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Details.png" alt="...">
            <div class="caption">
                <h3>Persons Search</h3>
                <p>Search existing Persons and display Details of each one</p>
                <p>
                    <a href="@Url.Action("Search", "Person")" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>

    <!-- PERSONS MANAGEMENT -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Tunes.png" alt="...">
            <div class="caption">
                <h3>Persons Management</h3>
                <p>Manage existing Persons, requires <strong>Authentication</strong></p>
                <p>
                    <a href="#" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>

    <!-- PERSONS MANAGEMENT -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/100x100/Labels.png" alt="...">
            <div class="caption">
                <h3>Create Persons</h3>
                <p>Create a new Person and add Addresses to it, this is a <strong>Restricted Area</strong></p>
                <p>
                    <a href="@Url.Action("Create", "Person")" class="btn btn-default" role="button">Browse</a>
                </p>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>

</div>
